<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
</head>
<body>
<div><h2>Most Liked Categories</h2>
        </div>
    <div>
        {% if category %}
            <hi>{{ category.name }}</hi>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            <a href="/rango/category/{{category.slug}}/add_page/">Add Page</a> <br/>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category does not exist!
        {% endif %}
    </div>

    <a href="/rango/">Home</a><br />
</body>
</html>